<div class="new-post-box">
    <button class="new-post-btn"><h2>+ New Post</h2></button>
</div>

<div class="all-posts">
    <div class="post-title">
        <h2>Posts</h2>
    </div>
    {{#each posts as |post|}}
    <div class="previous-post">
        <div class="previous-post-title">
            <a href="/post/{{post.id}}"><p>{{post.title}}</p></a>
        </div>
        <div class="previous-post-user">
            <p class="italic">{{post.date_created}}</p>
        </div>
    </div>
    {{/each}}
</div>