<div class="all-posts">
    {{#each posts as |post|}}
    <div class="post">
        <div class="post-title">
            <h3>{{post.title}}</h3>
            <h5>Posted by {{post.user.name}} on {{post.date_created}}</h5>
        </div>
        <div class="post-content">
            <p>{{post.content}}</p>
        </div>
    </div>
    {{/each}}
</div>