<div class="login-signup-container">
    <div class="login-signup-header">
        <h2>Login</h2>
    </div>
    <div class="login-signup-body">
        <div class="username">
            <p>Username</p>
            <input type="text" class="username-login">
        </div>
        <div class="password">
            <p>Password</p>
            <input type="text" class="password-login">
        </div>
        <div class="login-signup-box">
            <button class="login-signup-btn">Login!</button>
        </div>
        <div>
            <a href="#">Sign Up Instead</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="/js/login.js"></script>