<div class="login-signup-container">
    <div class="login-signup-header">
        <h2>Login</h2>
    </div>
    <div class="login-signup-body">
        <div class="username">
            <p>Username</p>
            <input type="text">
        </div>
        <div class="password">
            <p>Password</p>
            <input type="text">
        </div>
        <div class="login-signup-box">
            <button class="login-signup-btn">Login!</button>
        </div>
        <div>
            <a href="#">Sign Up Instead</a>
        </div>
    </div>
</div>