* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --brown: #221010;
    --light-green: #D9E9D3;
    --gray: #A7A7A7;
}

header {
    background-color: var(--brown);
    padding-bottom: 30px;
    position: relative;
}

nav {
    display: flex;
    justify-content: flex-start;
}

nav a {
    margin: 15px;
    color: var(--light-green);
}

body {
    background-color: var(--light-green);
}

button:hover {
    cursor: pointer;
}


.title {
    color: var(--brown);
    background-color: var(--light-green);
    width: 25%;
    text-align: center;
    margin-left: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.title h1 {
    padding: 10px;
}

.background {
    position: absolute;
    bottom: 25px;
    background-color: var(--gray);
    height: 57px;
    z-index: 1;
    border-radius: 10px;
    width: 25%;
    margin-left: 35px;
}

.all-posts {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border: 3px solid var(--brown);
}

.post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--brown);
    color: var(--light-green);
}

.post-title a {
    text-decoration: none;
    color: var(--light-green)
}

.post-title a:hover {
    text-decoration: underline;
}

.post-content {
    padding: 10px;
    color: var(--brown);
}

.create-comment-container, .all-comments, .login-signup-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
    border: 3px solid var(--brown);
}

.create-comment-body {
    width: 90%;
    margin: 0 auto;
}

.create-comment-container p {
    margin: 10px auto;
    font-size: x-large;
}

.create-comment-body textarea {
    width: 100%;
    padding: 10px;
    font-size: x-large;
}

.comment-header {
    background-color: var(--brown);
    height: 42px;
}

.comment-submit-box {
    margin: 15px auto;
}

.comment-submit-btn, .login-signup-btn {
    width: 100%;
    background-color: gray;
    color: white;
    font-size: x-large;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.all-comments {
    width: 90%;
    margin: 0 auto;
}

.comment {
    margin: 20px;
}

.login-signup-header {
    background-color: var(--brown);
    color: var(--light-green);
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.login-signup-container input {
    border: none;
    font-size: larger;
    width: 100%;
    padding: 10px;
}

.login-signup-body {
    margin: 10px 15px;
}

.login-signup-body div {
    margin-bottom: 20px;
}

.login-signup-body p {
    font-size: x-large;
}

.login-signup-body a {
    color: var(--brown);
    font-size: x-large;
}

/* .login-signup-btn {
    width: 100%;
    padding: 10px;
    font-size: x-large;
    border: none;
    background-color: gray;
} */